Node-Red/solar_evse.flow
[{"id":"f9149132.05da58","type":"debug","z":"11e663c0.7fc9bc","name":"","active":false,"console":"false","complete":"false","x":600.7000122070312,"y":1249.5,"wires":[]},{"id":"2c786b4a.30c874","type":"ui_switch","z":"11e663c0.7fc9bc","tab":"4d48a463.da015c","name":"Manual Current Set","topic":"manual_overide","group":"Settings","order":"2","onvalue":"1","offvalue":"0","x":167.70001220703125,"y":1223.5,"wires":[["337ca6d0.a141fa"]]},{"id":"154b337.4589acd","type":"ui_radio_button","z":"11e663c0.7fc9bc","tab":"4d48a463.da015c","name":"Manual Current Set","topic":"overide_current","group":"Settings","order":"4","buttons":[{"label":"0A","payload":"0"},{"label":"6A","payload":"900"},{"label":"10A","payload":"1200"},{"label":"16A","payload":"1500"},{"label":"24A","payload":"2000"},{"label":"32A","payload":"2622"}],"x":167.70001220703125,"y":1266.7498779296875,"wires":[["68c43565.d512ac"]]},{"id":"7ff11ff5.303d4","type":"function","z":"11e663c0.7fc9bc","name":"Calculate solar excess power","func":"// Function for solar_EVSE to calculate DAC setting value\n// Input is message whose topic is one of -\n// 'house' - Last power measurement of house consumption including electric car\n// 'car' - Last power measurement of consumption by electric car\n// 'solar' - Last power measurement of solar production\n// payload is the power measurement\n// For each topic an array is created of recent measurements, and an averge is calculated.\n// The base load is calculated from 'house' - 'car', and the excess power is calculated\n// from 'solar' - baseload.\n\n\n// Rail Voltage of solar_EVSE 3.3V or 5V\nvar rail_voltage = 3.3;\nvar acvoltage = 240;        //Nominal AC voltage\nvar delta = 0.0504;         // DAC Voltage increase per Ampere\nvar dacvoltage = 0;         // Voltage to apply to dac for required current\nvar dacminvolts = 0.8018;   // dac voltage for 6A\n\nvar power = 0;\nvar excess = 0;\nvar baseload =0;\nvar topicname;\nvar powerarray = [0];\nvar maxsamples = 6;         //How many samples of each topic to average\nvar hysterisis_high = 1250; //How much excess power before starting charging.\nvar hysterisis_low = 750; //How much excess power before stopping charging.\n\nfunction getSum(total, num) {\n    return total + Math.round(num);\n}\n\nif (context.get(msg.topic) === undefined) context.set(msg.topic,powerarray);\n\npowerarray = context.get(msg.topic);            //Fetch array of previous samples\nif (powerarray.length >= maxsamples ) powerarray.shift();   //Discard oldest sample\nif (msg.payload > 0 ) powerarray.push(Number(msg.payload)); // Only add positive samples                      //Add latest sample\nvar power = powerarray.reduce(getSum,0)/powerarray.length;  //Find average\ncontext.set(msg.topic, powerarray);\ncontext.set('averages.' + msg.topic, power);\nmsg.sample = context.get(msg.topic);\nmsg.length = powerarray.length;\nmsg.average = context.get('averages.' + msg.topic);\n\nif (msg.topic == 'solar') {                     // Calculate DAC setting\n    var dacsetting = 0;\n    baseload =  Number(context.get('averages.house')) - Number(context.get('averages.car'));\n    if (baseload < 0 ) baseload = 0;\n    excess = (Number(context.get('averages.solar')) - baseload) || 0;\n    if (excess < hysterisis_low ) excess = 0;   //Stop charging when below excess threshold\n    if (excess < hysterisis_high && flow.get('excess') === 0) excess = 0;  // Must exceed 1500W before enabling charging\n    var current = (excess/acvoltage);       // Available current\n    if ( current < 0.1  ) current = 0;\n    dacvoltage = dacminvolts + (current -6)*delta;      //Voltage to apply to Viridian EPC\n    dacsetting = Math.round(4095 * dacvoltage/rail_voltage);      // dac setting as proportion of current\n    if (excess === 0) dacsetting = 0;\n    var override = Number(flow.get('override')) || 0;\n    var dac = Number(flow.get('dac')) || 0;\n    if ( override == 1) dacsetting = dac;\n    msg.current = current;\n    flow.set('excess' , excess);\n    msg.excess = excess;\n    msg.payload = dacsetting;\n    msg.topic = \"emon/solar_EVSE/dacsetting\";   // this message goes to emoncms for logging\n    var msg1 = msg;\n    msg1= {topic: \"emonhub/tx/24/values\", payload: Number(dacsetting), override: override, dac: dac };  // this message goes to solar_EVSE\n    return [msg,msg1];\n}\n\n\nreturn [null,null];","outputs":"2","noerr":0,"x":488,"y":1129,"wires":[[],["a2e30000.98908","d4bd4f58.290b5"]]},{"id":"227f7aed.e25ac6","type":"change","z":"11e663c0.7fc9bc","name":"Change topic","rules":[{"t":"change","p":"topic","pt":"msg","from":"emon/SMASolar/ACOutputPhase1","fromt":"str","to":"solar","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"emon/solar_EVSE/car_power","fromt":"str","to":"car","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"emon/solar_EVSE/house_power","fromt":"str","to":"house","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":228,"y":1129,"wires":[["7ff11ff5.303d4"]]},{"id":"a2e30000.98908","type":"debug","z":"11e663c0.7fc9bc","name":"","active":false,"console":"false","complete":"true","x":776,"y":1096,"wires":[]},{"id":"68c43565.d512ac","type":"change","z":"11e663c0.7fc9bc","name":"Set override rate","rules":[{"t":"set","p":"dac","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":379,"y":1267,"wires":[["f9149132.05da58"]]},{"id":"337ca6d0.a141fa","type":"change","z":"11e663c0.7fc9bc","name":"Set Override","rules":[{"t":"set","p":"override","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":365,"y":1223,"wires":[["f9149132.05da58"]]},{"id":"d4bd4f58.290b5","type":"mqtt out","z":"11e663c0.7fc9bc","name":"Send to Emonhub","topic":"","qos":"","retain":"","broker":"19211dbb.e6dee2","x":822,"y":1140,"wires":[]},{"id":"d283ac4.c5af35","type":"mqtt in","z":"11e663c0.7fc9bc","name":"Listen to Open energy monitor","topic":"emon/#","qos":"2","broker":"19211dbb.e6dee2","x":176,"y":1049,"wires":[["a3093651.82f1f8"]]},{"id":"a3093651.82f1f8","type":"switch","z":"11e663c0.7fc9bc","name":"Filter messages","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"solar_EVSE","vt":"str"},{"t":"cont","v":"SMASolar/ACOutputPhase1","vt":"str"}],"checkall":"true","outputs":2,"x":429,"y":1048,"wires":[["227f7aed.e25ac6"],["227f7aed.e25ac6"]]},{"id":"4d48a463.da015c","type":"ui_tab","z":"11e663c0.7fc9bc","name":"Car","icon":"dashboard","order":"1"},{"id":"19211dbb.e6dee2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]